In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import scsavailability as scs
    
import statsmodels.api as sm
from scipy import stats

from scsavailability import features as feat, model as md, plotting as pt, score as sc

2020-12-17 08:34:55,693 - NumExpr defaulting to 8 threads.

In [2]:
path = '../raw_data/'

In [3]:
at = pd.read_csv(path+'active_totes_20201123.csv')
av = pd.read_csv(path+'Availability_with_Grey&Blue_1811-2511.csv')
scs_raw = pd.read_csv('../raw_data/SCS alerts Nov.csv')

In [4]:
fa = feat.add_code(scs_raw)
fa, unmapped = feat.add_tote_colour(fa)

Running: Function "load_tote_lookup" (id=1356272892512) was called 1 times

In [5]:
fa.shape

(174126, 13)

In [6]:
fa = feat.preprocess_faults(fa,remove_same_location_faults = False)

Running: Function "preprocess_faults" (id=1356272893376) was called 1 times
Running: Function "load_module_lookup" (id=1356272890640) was called 1 times
HOTFIX: Quadrant only faults, PTT Asset Code update

In [7]:
fa.shape

(174051, 15)

In [9]:
a = {'MODULE': '2'}

In [10]:
for key in a.keys():
    print(fa[fa.get(key).isin([a.get(key)])].shape)

(6691, 15)

In [24]:
aa = feat.get_data_faults(fa, 8)

In [26]:
at = feat.pre_process_AT(at)
av = feat.pre_process_av(av)

Running: Function "pre_process_AT" (id=1356272891360) was called 1 times
Running: Function "pre_process_av" (id=1356272892224) was called 1 times

In [32]:
av_sel,at_sel = feat.av_at_select(av, at, remove_high_AT = True, availability_select_options = {'Module' : [8]})

In [21]:
aa[['PLC', 'Quadrant', 'MODULE']].drop_duplicates()

          PLC  Quadrant        MODULE
52        C08         2             8
60     SCSM08         2             8
46593     C08         2  C08 External
8668      C08         2           NaN
39073     C09         2           NaN
2         C15         0           NaN
16        C16         0           NaN
32        C23         0           NaN

In [35]:
av_sel

,timestamp,Pick Station,Downtime,Blue Tote Loss,Grey Tote Loss,Quadrant,Module
10,2020-10-16 06:00:00,PTT081,0.384739,NaN,NaN,2,8
11,2020-10-16 06:00:00,PTT082,0.390740,NaN,NaN,2,8
46,2020-10-16 07:00:00,PTT081,0.369289,NaN,NaN,2,8
47,2020-10-16 07:00:00,PTT082,0.541471,NaN,NaN,2,8
82,2020-10-16 08:00:00,PTT081,0.252197,NaN,NaN,2,8
...,...,...,...,...,...,...,...
34771,2020-11-25 15:00:00,PTT082,0.219823,0.110667,0.109156,2,8
34806,2020-11-25 16:00:00,PTT081,0.393862,0.233333,0.160529,2,8
34807,2020-11-25 16:00:00,PTT082,0.371878,0.294667,0.077212,2,8
34841,2020-11-25 17:00:00,PTT081,0.409257,0.208000,0.201257,2,8
34842,2020-11-25 17:00:00,PTT082,0.360318,0.162667,0.197652,2,8