In [1]:
import pandas as pd

In [2]:
fa = pd.read_csv('../raw_data/SCS alerts Nov_with_asset_code.csv')

In [4]:
'a' in ['b', 'c', 'd']

False

In [18]:
PLCS = ['C05', 'C06']
fa['PLC'].isin(PLCS).value_counts()

False    162897
True      11193
Name: PLC, dtype: int64

In [21]:
(fa['PLC']=='C06').value_counts()

False    166557
True       7533
Name: PLC, dtype: int64

In [42]:
'jamies first string'.capitalize()

'Jamies first string'

In [47]:
fa['PLC'].str.contains('C11|C10').value_counts()

False    164440
True       9650
Name: PLC, dtype: int64

In [49]:
import numpy as np

In [57]:
fa['Availability'] = np.random.randint(0, 1,fa.shape[0])

In [62]:
fa[['PLC', 'Availability']]

           PLC  Availability
0          C17             0
1          C17             0
2          C15             0
3       SCSM09             0
4          C17             0
...        ...           ...
174085  SCSM22             0
174086  SCSM22             0
174087  SCSM22             0
174088  SCSM22             0
174089  SCSM22             0

[174090 rows x 2 columns]

In [66]:
fa['PLC'].unique()

array(['C17', 'C15', 'SCSM09', 'SCSM22', 'C06', 'C16', 'C09', 'SCSM20',
       'SCSM11', 'C23', 'SCSM12', 'C13', 'C12', 'C08', 'SCSM04', 'SCSM07',
       'C11', 'SCSM08', 'SCSM19', 'SCSM03', 'SCSM01', 'SCSM02', 'C05',
       'C07', 'C14', 'SCSM15', 'C40', 'C42', 'SCSM18', 'SCSM17', 'C46',
       'C48', 'SCSM10', 'SCSM05', 'C10', 'C38', 'SCSM13', 'SCSM14', 'C44',
       'C50', 'C36', 'C52'], dtype=object)